#controls {
    position: absolute;
    display: flex;
    gap: calc(1*var(--size));
    top: calc(1*var(--size));
    right: calc(1*var(--size));
}
#controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1*var(--size));
    height: calc(1*var(--size));
}
#controls button img {
    width: 100%;
    height: 100%;
}
#controls .app-control-button {
    filter: var(--theme-color-gray-filter);
}
#controls .app-control-button[name="app-control-close"] {
    filter: var(--theme-color-red-filter);
}
#controls .app-control-button[name="app-control-minimize"] {
    filter: var(--theme-color-gold-filter);
}