#overlay {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

#overlay #overlay-container {
    padding: calc(4*var(--size)) calc(3*var(--size));
    border-radius: calc(2*var(--size));
    background-color: var(--theme-color-3);
    box-shadow: inset 0 0 calc(.5*var(--size)) calc(.5*var(--size)) #00000080;
}