#overlay-container[name="info"] {
    display: grid;
    grid-auto-flow: row;
    gap: calc(2*var(--size));
}
#overlay-container[name="info"] .block {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr calc(20*var(--size));
    gap: calc(4*var(--size));
}
#overlay-container[name="info"] .block>.title {
    display: grid;
    align-items: center;
    padding-left: calc(2*var(--size));
    height: calc(2*var(--size));
    font-size: calc(1*var(--size));
    letter-spacing: calc(.2*var(--size));
    font-weight: 500;
    color: var(--theme-color-white);
    text-align: right;
    text-wrap: nowrap;
}
#overlay-container[name="info"] .block .options {
    display: flex;
    flex-direction: column;
    gap: calc(.5*var(--size));
    width: 100%;
}
#overlay-container[name="info"] .block .options .item {
    display: flex;
    align-items: center;
    gap: calc(1*var(--size));
    flex: 1;
}
#overlay-container[name="info"] .block .options .item>.title {
    display: grid;
    flex: 1;
    height: calc(2*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
    align-items: center;
}
#overlay-container[name="info"] .block .options .item span {
    display: grid;
    flex: 1;
    height: calc(2*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
    align-items: center;
    text-align: right;
}
#overlay-container[name="info"] .block .options .item input.checkbox {
    --checkbox-size: calc(1.5*var(--size));
}
#overlay-container[name="info"] .block .options .item input.switch[type="checkbox"] {
    --switch-size: calc(1.5*var(--size));
}
#overlay-container[name="info"] .block .options .item .option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1.5*var(--size));
    height: calc(1.5*var(--size));
    border-radius: 50%;
    background-color: var(--theme-color-gray);
}
#overlay-container[name="info"] .block .options .item .option-button img {
    height: 75%;
    filter: var(--theme-color-white-filter);
}
#overlay-container[name="info"] .block .options .item .reset-button {
    width: calc(4.5*var(--size));
    height: calc(2*var(--size));
    border-radius: calc(1*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
    background-color: var(--theme-color-red);
}