#overlay-container[name="login"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(28*var(--size));
}
#overlay-container[name="login"] .connection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(18*var(--size));
    height: calc(5*var(--size));
}
#overlay-container[name="login"] .connection img {
    height: 100%;
}
#overlay-container[name="login"] .connection .check {
    position: relative;
    display: grid;
    place-items: center;
    flex: 1;
    height: 100%;
    background-image: linear-gradient(to right, var(--theme-color-gray) 50%, rgba(255,255,255,0) 0%);
    background-position: center;
    background-size: calc(.5*var(--size)) calc(.25*var(--size));
    background-repeat: repeat-x;
}
#overlay-container[name="login"] .connection .check img {
    height: 50%;
}
#overlay-container[name="login"] .title {
    font-family: "Fredoka", sans-serif;
    font-size: calc(1.75*var(--size));
    font-weight: 600;
    color: var(--theme-color-white);
}
#overlay-container[name="login"] p {
    text-align: center;
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
}
#overlay-container[name="login"] input {
    width: 100%;
    height: calc(4*var(--size));
    padding: calc(.5*var(--size)) calc(1*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
    border: none;
    outline: none;
    border-radius: calc(.5*var(--size));
    background-color: var(--theme-color-1);
}
#overlay-container[name="login"] button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(.5*var(--size)) calc(1.5*var(--size));
    width: calc(18*var(--size));
    height: calc(4*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 600;
    color: var(--theme-color-white);
    border-radius: calc(.5*var(--size));
    font-family: "Fredoka", sans-serif;
    background-color: var(--theme-color-2);
}
#overlay-container[name="login"] button img {
    height: 100%;
    margin-right: calc(1*var(--size));
}
#overlay-container[name="login"] button span {
    text-align: left;
    width: 100%;
}