@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


/*
Global
*/
:root {
    --scale: 1;
    --size: calc(.75rem*var(--scale));

    --theme-color-1: #29263D;
    --theme-color-2: #2D2A41;
    --theme-color-3: #3D3A56;

    --theme-color-white: #FFFFFF;
    --theme-color-white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(104%) contrast(103%);

    --theme-color-gray: #999999;
    --theme-color-gray-filter: invert(63%) sepia(0%) saturate(1179%) hue-rotate(195deg) brightness(96%) contrast(95%);

    --theme-color-green: #E86F86;
    --theme-color-green-filter: invert(63%) sepia(22%) saturate(3616%) hue-rotate(307deg) brightness(97%) contrast(87%);

    --theme-color-red: #E86F86;
    --theme-color-red-filter: invert(63%) sepia(22%) saturate(3616%) hue-rotate(307deg) brightness(97%) contrast(87%);

    --theme-color-gold: #E7C975;
    --theme-color-gold-filter: invert(87%) sepia(84%) saturate(432%) hue-rotate(321deg) brightness(98%) contrast(85%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: calc(.1*var(--size));
    font-family: "Roboto", sans-serif;
}


/*
Common
*/
body, section, img, iframe {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body, section, img, iframe, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

html, body, #app {
    position: relative;
    width: calc(75*var(--size));
    height: calc(56*var(--size));
    pointer-events: auto;
    background-color: transparent;
}

html {
    transform: scale(var(--scale));
    transform-origin: top left;
}

#app {
    overflow: hidden;
    border-radius: calc(1.5*var(--size));
    background-color: var(--theme-color-1);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc(18*var(--size)) 1fr;
}


/*
Notify
*/
#notify-container {
    position: fixed;
    top: calc(1*var(--size));
    left: 50%;
    transform: translateX(-50%);
}
.notify {
    position: relative;
    padding: calc(1*var(--size)) calc(2*var(--size));
    border-radius: calc(.5*var(--size));
    font-size: calc(1.25*var(--size));
}
.notify.notify-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.notify.notify-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.notify strong {
    margin-right: calc(1*var(--size));
    text-transform: uppercase;
}


/*
Side Navigation
*/
aside {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(4*var(--size)) 1fr calc(3*var(--size));
    gap: calc(1.5*var(--size));
    width: 100%;
    height: 100%;
    padding: calc(3*var(--size)) calc(1*var(--size));
    background-color: var(--theme-color-2);
}

aside #logo {
    height: 100%;
}

aside>nav {
    width: 100%;
}

aside>nav .seperator {
    margin: calc(2*var(--size)) calc(1*var(--size));
    border: calc(.1*var(--size)) solid var(--theme-color-3);
}

aside>nav section .title {
    width: 100%;
    line-height: calc(1*var(--size));
    padding: calc(.75*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 600;
    text-transform: uppercase;
    color: var(--theme-color-gray);
}
aside>nav section .options {
    display: flex;
    flex-direction: column;
    gap: calc(1*var(--size));
}

aside .side-button {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: calc(1*var(--size));
    padding: calc(.5*var(--size)) calc(1*var(--size));
    cursor: pointer;
}
aside .side-button::after {
    position: absolute;
    right: calc(1*var(--size));
    content: "";
    width: calc(1*var(--size));
    height: calc(1*var(--size));
    border-radius: 50%;
    background-color: var(--theme-color-gray);
}
aside .side-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(2*var(--size));
    height: calc(2*var(--size));
    border-radius: calc(.5*var(--size));
    background-color: var(--theme-color-3);
}
aside .side-button .icon img {
    width: calc(1*var(--size));
    height: calc(1*var(--size));
    filter: var(--theme-color-gray-filter);
}
aside .side-button p {
    width: auto;
    text-align: left;
    font-size: calc(.875*var(--size));
    font-weight: 600;
    color: var(--theme-color-gray);
}

aside .side-button.active::after {
    background-color: var(--theme-color-gold);
}
aside .side-button.active .icon img {
    filter: var(--theme-color-gold-filter);
}
aside .side-button.active p {
    color: var(--theme-color-gold);
}

aside .side-button.side-button-no-dot::after {
    content: none;
}
aside .side-button.danger .icon img {
    filter: var(--theme-color-red-filter);
}
aside .side-button.danger p {
    color: var(--theme-color-red);
}


/*
Main Navigation
*/
main>nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
main>nav section {
    margin: 0 calc(1*var(--size));
}
main .main-nav-button {
    position: relative;
    margin: 0 calc(.25*var(--size));
    width: calc(8.25*var(--size));
    height: calc(3.75*var(--size));
    opacity: .5;
    background-color: var(--theme-color-gray);
    transform: skewX(22.5deg);
    transition: .25s;
}
main .main-nav-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #FFFFFF80;
}
main .main-nav-button p {
    width: auto;
    text-align: center;
    font-size: calc(1*var(--size));
    font-weight: 600;
    color: #FFFFFF;
    transform: skewX(-22.5deg);
}
main .main-nav-button.active {
    opacity: 1;
    background-color: var(--theme-color-gold);
}


/*
Overlay
*/
#overlay {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

#overlay #overlay-container {
    padding: calc(4*var(--size)) calc(3*var(--size));
    border-radius: calc(2*var(--size));
    background-color: var(--theme-color-3);
    box-shadow: inset 0 0 calc(.5*var(--size)) calc(.5*var(--size)) #00000080;
}


/*
Controls
*/
#controls {
    position: absolute;
    display: flex;
    gap: calc(1*var(--size));
    top: calc(1*var(--size));
    right: calc(1*var(--size));
}
#controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1*var(--size));
    height: calc(1*var(--size));
}
#controls button img {
    width: 100%;
    height: 100%;
}
#controls .app-control-button {
    filter: var(--theme-color-gray-filter);
}
#controls .app-control-button[name="app-control-close"] {
    filter: var(--theme-color-red-filter);
}
#controls .app-control-button[name="app-control-minimize"] {
    filter: var(--theme-color-gold-filter);
}