#page[name="settings"] {
    overflow-y: scroll;
}

#page[name="settings"] .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#page[name="settings"] .category:not(:last-child) {
    margin-bottom: calc(4* var(--size));
}

#page[name="settings"] .category>*:not(:last-child) {
    margin-bottom: calc(1.5* var(--size));
}
#page[name="settings"] .category .title {
    width: auto;
    text-align: left;
    font-size: calc(1.5*var(--size));
    font-weight: 600;
    line-height: calc(2*var(--size));
    color: var(--theme-color-white);
}
#page[name="settings"] .category .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: calc(1.5*var(--size));
}
#page[name="settings"] .category .option .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(12*var(--size));
    height: calc(6*var(--size));
}
#page[name="settings"] .category .option .image .weapon {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(3.6*var(--size));
}
#page[name="settings"] .category .option .image .bullet {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(1.75*var(--size));
    height: calc(1.75*var(--size));
}
#page[name="settings"] .category .option .image .name {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: calc(1*var(--size));
    font-weight: 500;
    line-height: calc(1.25*var(--size));
    color: var(--theme-color-white);
}
#page[name="settings"] .category .option .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(30*var(--size));
    height: calc(6*var(--size));
}
#page[name="settings"] .category .adjustment {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(3*var(--size));
    border-radius: calc(.5*var(--size));
    padding: calc(.5*var(--size));
    background-color: var(--theme-color-3);
}
#page[name="settings"] .category .adjustment:not(:last-child) {
    margin-bottom: calc(2.5*var(--size));
}
#page[name="settings"] .category .adjustment .name {
    flex: 1;
    font-size: calc(1*var(--size));
    font-weight: 400;
    line-height: calc(1.25*var(--size));
    color: var(--theme-color-white);
}
#page[name="settings"] .category .adjustment form {
    display: flex;
    width: calc(20*var(--size));
    height: 100%;
}

#page[name="settings"] .category .adjustment form>*,
#page[name="settings"] .category .adjustment form input {
    width: 100%;
    height: 100%;
    border-radius: calc(.5*var(--size));
    font-size: calc(1*var(--size));
    font-weight: 400;
    color: var(--theme-color-white);
    background-color: var(--theme-color-2);
}
#page[name="settings"] .category .adjustment form>*:nth-child(2) {
    margin-left: calc(.5*var(--size));
    width: calc(3*var(--size));
}

#page[name="settings"] .category .adjustment form div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(1*var(--size));
}

#page[name="settings"] .category .adjustment form input {
    outline: none;
    border: none;
    text-align: center;
}

#page[name="settings"] .category .adjustment form .slider {
    --slider-width: 100%;
    --slider-height: calc(1*var(--size));
}

#page[name="settings"] .category .adjustment form button {
    display: flex;
    align-items: center;
    justify-content: center;
}
#page[name="settings"] .category .adjustment form button img {
    height: 75%;
    filter: var(--theme-color-white-filter);
}